<div>
    <h3>Cart</h3>
    {{#if empty}}
    <p>Your cart is currently empty!</p>
    {{else}}  
      {{#each products as |product| }}
      <div class="row mb-4 product">
        <div class="col-md-5">
          <h4>
            <a href="/products/{{product.id}}">{{product.product_name}}</a>
          </h4>
          <img src="{{product.image_url}}" alt="{{product.description}}">
        </div>
        <div class="col-md-7">
          <p>
            {{product.description}}
            Price: ${{product.price}}
          </p>

          <button class="cartRemove clicked" id="{{product.id}}">Remove from Cart</button>

          {{#if product.wishlist}}
          <button class="wishlistRemove clicked" id="{{product.id}}">Remove from Wishlist</button>
          {{else}} 
          <button class="wishlistAdd unclicked" id="{{product.id}}">Add to Wishlist</button>
          {{/if}}
        </div>
      </div>
      {{/each}}
      {{/if}} 
      {{#unless empty}}
        <button id="purchase">Purchase</button>
        <script src="/js/cart.js"></script>
      {{/unless}}

</div>

<script src="/js/home.js"></script>


{{!-- <script src="https://smtpjs.com/v3/smtp.js"></script> --}}