{{#each productsWithWishlist as |product|}}
<a href="./products/{{product.id}}"><h1> {{product.product_name}}</h1></a>
{{!-- {{product.link}} will go to product/productid then will look up specific product --}}
<img src="{{product.image_url}}"/>
<p>Price: ${{product.price}} </p>
{{!-- <p>{{product.rating}}</p> --}}
<p>{{product.stock}} in stock</p>
{{#if product.wishlist}}
<button class="wishlist clicked" id="{{product.id}}">Remove from Wishlist</button>
{{else}} 
<button class="wishlist unclicked" id="{{product.id}}">Add to Wishlist</button>
{{/if}}
{{/each}}

<script src="./js/home.js"></script>