<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
</head>
<body>
    <h1>{{product.product_name}}</h1>
     <img src="{{product.image_url}}"/>
    <p>Price ${{product.price}} </p>
    {{!-- <p>{{product.rating}}</p> --}}
    <p>{{product.stock}} in stock</p>
    {{#if logged_in}}
        {{#if product.cart}}
        <button class="cartRemove clicked" id="{{product.id}}">Remove from Cart</button>
        {{else}}
        <button class="cartAdd unclicked" id="{{product.id}}">Add to Cart</button>
        {{/if}}

        {{#if product.wishlist}}
        <button class="wishlistRemove clicked" id="{{product.id}}">Remove from Wishlist</button>
        {{else}} 
        <button class="wishlistAdd unclicked" id="{{product.id}}">Add to Wishlist</button>
        {{/if}}
    {{/if}}
</body>
<script src="/js/home.js"></script>
</html>