
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>{{product.product_name}}</h1>
     <img class="rounded float-start my-3" src="{{product.image_url}}"/>
    <p>Price ${{product.price}} </p>
    {{!-- <p>{{product.rating}}</p> --}}
    <p>{{product.stock}} in stock</p>
    {{#if logged_in}}
        {{#if product.cart}}
        <button class="cartRemove clicked btn btn-danger" id="{{product.id}}">Remove from Cart</button>
        {{else}}
        <button class="cartAdd unclicked btn btn-primary" id="{{product.id}}">Add to Cart</button>
        {{/if}}

        {{#if product.wishlist}}
        <button class="wishlistRemove cart mt-2 clicked btn btn-danger" id="{{product.id}}">Remove from Wishlist</button>
        {{else}} 
        <button class="wishlistAdd cart mt-2 unclicked btn btn-primary" id="{{product.id}}">Add to Wishlist</button>
        {{/if}}
    {{/if}}
</div>
<script src="/js/home.js"></script>


